
      {{define "content"}}
      <a class="btn btn-primary" href="/new">Create New Character</a>

      <div>
        <h1>{{ .Name }}</h1>
        <h3>Level {{ .Level }} {{ .Race }} {{ .Class }}</h3>

        {{ range $key, $value := .Stats }}
          <li>{{ $key }}: {{ $value }}</li>
        {{ end }}
        <h4>HP: {{ .HP }}</h4>
        <hr>
        {{ range $key, $value := .Abilities }}
          <li><strong>{{ $key }}</strong>: {{ $value }}</li><br>
        {{ end }}
      </div>

      <div>
        <a href="/">Return to Character List</a>
      </div>
      {{end}}
